body {
    background-size: cover;
    background-image: linear-gradient(to bottom right, rgb(19, 250, 19), rgb(12, 159, 218));
}


.heading {
    font-size: 25px;
    width: 100%;
    margin: 0px;
}

#start, #object_name, #status
{
    font-size: 18px;
}



canvas {
    border : 2px solid white;
    border-radius: 10px;
    margin-top: 130px;
    box-shadow: 5px 5px 5px white;
}

.textbox {
place-content: center;
width:50%;
}